
/* RGB */
$color1: rgba(191, 174, 72, 1);
$color2: rgba(45, 147, 108, 1);
$color3: rgba(112, 174, 110, 1);
$color4: rgba(57, 20, 99, 1);
$color5: rgba(58, 8, 66, 1);
$color1: rgba(238, 132, 52, 1);
$color2: rgba(100, 111, 75, 1);
$color3: rgba(153, 209, 156, 1);
$color4: rgba(33, 45, 64, 1);
$color5: rgba(214, 104, 83, 1);

/* RGB */
$color1: rgba(232, 241, 242, 1);
$color2: rgba(252, 163, 17, 1);
$color3: rgba(255, 140, 66, 1);
$color4: rgba(240, 100, 73, 1);
$color5: rgba(54, 56, 46, 1);
$color2: rgba(45, 147, 108, 1);
$color3: rgba(112, 174, 110, 1);
$color5: rgba(237, 229, 166, 1);