/* Coolors Exported Palette - coolors.co/bfae48-2d936c-70ae6e-391463-3a0842 */

/* HSL */
$color1: hsla(51%, 48%, 52%, 1);
$color2: hsla(157%, 53%, 38%, 1);
$color3: hsla(118%, 28%, 56%, 1);
$color4: hsla(268%, 66%, 23%, 1);
$color5: hsla(292%, 78%, 15%, 1);

/* RGB */
$color1: rgba(191, 174, 72, 1);
$color2: rgba(45, 147, 108, 1);
$color3: rgba(112, 174, 110, 1);
$color4: rgba(57, 20, 99, 1);
$color5: rgba(58, 8, 66, 1);
/* Coolors Exported Palette - coolors.co/e8f1f2-fca311-ff8c42-f06449-36382e */

/* HSL */
$color1: hsla(186%, 28%, 93%, 1);
$color2: hsla(37%, 98%, 53%, 1);
$color3: hsla(23%, 100%, 63%, 1);
$color4: hsla(10%, 85%, 61%, 1);
$color5: hsla(72%, 10%, 20%, 1);

/* RGB */
$color1: rgba(232, 241, 242, 1);
$color2: rgba(252, 163, 17, 1);
$color3: rgba(255, 140, 66, 1);
$color4: rgba(240, 100, 73, 1);
$color5: rgba(54, 56, 46, 1);
$color2: rgb(75, 184, 142);
$color3: rgba(112, 174, 110, 1);