html, body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.a {
  background-image: url("../images/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}
.b{
  background-image: url("../images/ps.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}
.contentbox{
  width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left:200px;
  margin-right: auto;
  text-align: center;
  background-color: transparent;
  
}
p{
  font-size: 15px;
}
.input-field{
 height: 19px;
}
#forgot-password{
  margin: 5px 9px;
  height: 30px;
  width: 80px;
  border-radius: 15px;
  background-color: black;
  color: white;
}
#reset-password2{
  margin: 5px 9px;
  height: 30px;
  width: 80px;
  border-radius: 15px;
  background-color: black;
  color: white;
}
.gobackbutton{
  text-align: center;
  margin-top:0;
 
}
.gobackbutton span{
  font-size: 10px;
}
.input-field2{
  height: 19px;
  background-color: transparent;
  border: 1px dotted black;
 }